.cse .gsc-control-cse, .gsc-control-cse{
	padding:0 !important;
	border:0 !important;
	background-color:transparent !important;
}
.gsc-search-button{
	display:none !important;
}
table.gsc-search-box td{
	border:0 !important;
	padding:0 !important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input{
	color:#000;
	padding:0 5px !important;
	font-family:inherit !important;
	font-size:13px;
	height:23px !important;
	margin:0 !important;
	
}
.gsc-input-box  table{
	margin:0 !important;
}
.gsc-input-box{
	border:0 !important
}
