---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="docspage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12">
						<div class="col-sm-6 col-md-4">
							<a href="/architecture" class="homepage-section">
								<h3 class="homepage-section__title">Architecture</h3>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/developer-docs/" class="homepage-section">
								<h3 class="homepage-section__title">Developer Docs</h3>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/features-documentation/" class="homepage-section">
								<h3 class="homepage-section__title">Product Features</h3>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/apis/" class="homepage-section">
								<h3 class="homepage-section__title">Sunbird REST APIs</h3>
							</a>
						</div>
						<div class="col-sm-6 col-md-4">
							<a href="/faqs/" class="homepage-section">
								<h3 class="homepage-section__title">Frequently asked questions</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
