---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="docspage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row row-eq-height">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="pages/features-documentation/images/docs_images/architecture.png">
							<div class="caption">
								<a href="architecture/" class="homepage-section">
									<h4 class="homepage-section__title">Architecture <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h4>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="pages/features-documentation/images/docs_images/developer-docs.png">
							<div class="caption">
								<a href="developer-docs/" class="homepage-section">
									<h4 class="homepage-section__title">Developer Docs <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h4>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="pages/features-documentation/images/docs_images/product-features.png">
							<div class="caption">
								<a href="features-documentation/" class="homepage-section">
									<h4 class="homepage-section__title">Product Features <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h4>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="pages/features-documentation/images/docs_images/rest-apis.png">
							<div class="caption">
								<a href="apis/" class="homepage-section">
									<h4 class="homepage-section__title">Sunbird REST APIs <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h4>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="pages/features-documentation/images/docs_images/faqs.png">
							<div class="caption">
								<a href="faqs/" class="homepage-section">
									<h4 class="homepage-section__title">Frequently asked questions <i class="fa fa-long-arrow-right pull-right" aria-hidden="true"></i></h4>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
