---
---
<!DOCTYPE html>
<html>
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>
	<body>
		{% include header.html %}
		<div class="homepage">
			
			<section class="section1">
				
				<div class="container">
					<div class="inner-content text-center">
						<div class="inner-content-heading">
							<div class="text-light">20 lines of your code</div>
							<div class="text-semibold">Can impact a million minds</div>
						</div>
						<div class="text-light secondary-content">Collaborate and build an open source modular learning management platform</div>
						<button class="btn-default text-regular">
							<a href="about/">About Sunbird</a>
						</button>
						
					</div>

				</div>
			</section>
			<section class="section3">
				<div class="parallax"></div>
				<div class="container">
					<div class="contribute-content">
						<div class="inner-contribute">
							<div class="text-light">Build effective learning solutions</div>
							<div class="text-semibold">Create diverse learning<br>opportunities</div>
						</div>
						<button class="btn-secondary text-regular">
							<a href="participate/">Participate</a>
						</button>
					</div>
				</div>
			</section>
			<section class="section4">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-xs-12">
							<div class="main-content">
								<div class="text-semibold">An Open</div>
								<div class="text-light">Learning Project</div>
							</div>
							<ul class="learning-list">
								<li>Cloud hosted</li>
								<li>Highly Scalable</li>
								<li>Extensible</li>
								<li>Multilingual</li>
								<li>Offline-enabled</li>
								<li>For collaboration and use <br>by institutions, publishers,<br>educators, students</li>							
							</ul>
							<button class="btn-features"><a href="features/">More Features</a></button>
						</div>
						<div class="col-md-7 col-xs-12">
							<div class=""><img src="img/learning.png" alt="learning"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="section5">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-xs-12">
							<div class=""><img src="img/git-screen.png" alt="Git Screen"></div>
						</div>
						<div class="col-md-5 col-xs-12">
							<div class="main-content">
								<div class="inner-content-heading">
									<div class="git-icon"><img src="img/git-icon.png" alt="Git Icon"></div>
									<div class="text-semibold">Fully open-source,</div> 
									<div class="text-light">check out the source on github</div>
								</div>
								<button class="btn-features"><a href="docs/">Documentation</a> <a href="https://github.com/project-sunbird" target="_blank">Source Code</a></button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section6">
				<div class="container">
					<div class="content-cover">
						<div class="content-title text-semibold">Participate!</div>
						<div class="main-content">
							Collaborate with the best minds<br>
							Leverage technology to make a difference to learning and education
						</div>
						<button type="submit" class="btn-default"><a href="contact/">Get in touch</a></button>
					</div>
				</div>
			</section>
		</div>
		{% include footer.html %}
	</body>
</html>
