---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="participatepage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12">
						<h1>Participate</h1>
						<p>The goal of the Sunbird project is to open the  arena for community participation to build effective, engaging and customizable learning solutions. Participate and contribute in your own unique way.<br />A few ways in which you can participate:</p>
						<ul>
							<li><strong>Software developers:</strong> write code to develop new features</li>
							<li><strong>Software architects:</strong> extend the platform</li>
							<li><strong>Educators:</strong> suggest courses, course structures, create learning material, review artifacts, etc.</li>
							<li><strong>Students:</strong> use the learning artifacts and feedback</li>
							<li><strong>All:</strong> feedback and suggest features, provide suggestions for improvement and involvement</li>
						</ul>
						<p>Connected interactions within the  learning community are  a powerful stimulant to  enlighten, reflect and re-examine thoughts and beliefs. "Learning by osmosis” is the mantra. So, participate in of the Sunbird project, be a teacher as well as a learner and leave your mark to impact a million minds.</p>
						<p class="text-center"><btn class="btn-default"><a href="/contact/">Contact Us</a></btn></p>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
