---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="partnerpage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12">
						<h1><center>Partner<center></h1>
						<p><center>The goal of the Sunbird project is to open the  arena for community <br>participation to build effective, engaging and customizable <br>learning solutions. Participate and contribute in your own unique way.</center></p>						
						<table>
            					<tr>
							<td style="width:25%";><img src="pages/features-documentation/images/partner_images/software-developers.png"> <br><center><strong>Software Developers</strong></center> <br><center>Write code to develop</center> <br><center>new features</center></td>
              						<td style="width:25%";><img src="pages/features-documentation/images/partner_images/software-architects.png"> <br><center><strong>Software Architects</strong></center> <br><center>Extend the platform</center></td>
             					 	<td style="width:25%";><img src="pages/features-documentation/images/partner_images/educators.png"> <br><center><strong>Educators</strong></center> <br><center>Suggest courses, course <br><center>structures, create</center> <br><center>learning material,</center> <br><center>review artifacts and more</center></td>
              						<td style="width:25%";><img src="pages/features-documentation/images/partner_images/students.png"> <br><center><strong>Students</strong></center> <br><center>Use the learning artifacts</center> <br><center>and provide feedback</center></td>
		      				</tr>
              					</table>
										
						<p class="text-center"><btn class="btn-default"><a href="contact/">Contact Us</a></btn></p>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
