---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="partnerpage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<h1><center>Partner with Us</center></h1>
						<p><center>The goal of the Sunbird project is to open the  arena for community participation to build effective, engaging and customizable learning solutions. <br>Participate and contribute in your own unique way. Connected interactions within the learning community are a powerful stimulant to enlighten, reflect and re-examine thoughts and beliefs. "Learning by osmosis” is the mantra. So, participate in the Sunbird project, be a teacher as well as a learner and leave your mark to impact a million minds.</center></p>						
					</div>
					<div class="col-xs-12">
						<table class="partners-table">
							<tr>
								<td style="width:25%;">
									<img src="img/partner_images/software-developers.png"><center><br><strong>Software Developers</strong> <br>Write code to develop new features</center>
								</td>
								<td style="width:25%;">
									<img src="img/partner_images/software-architects.png"><center><br><strong>Software Architects</strong> <br>Extend the platform</center>
								</td>
								<td style="width:25%;">
									<img src="img/partner_images/educators.png"><center><br><strong>Educators</strong> <br>Suggest courses, course structures, create <br>learning material, review artifacts and more</center>
								</td>
								<td style="width:25%;">
									<img src="img/partner_images/students.png"><center><br><strong>Students</strong> <br>Use the learning artifacts <br>and provide feedback</center>
								</td>
							</tr>
						</table>
						<h2>Our Solution Partners</h2>
						<table class="solution-partners">
							<tr>
								<td style="width:25%">
									<a href="https://phraseapp.com" target="_blank">
										<img src="img/partner_images/phraseapp_transparent_logo.png" style=" padding:5px;">
									</a>
								</td>	
								<td style="width:25%" > 
									<a href="" target="_blank">
										<img src="img/partner_images/logo_transparent_resize.png">
									</a>
								</td>
								<td style="width:25%">
									<a href=""  target="_blank">
										<img src="img/partner_images/logo_transparent_resize.png">
									</a>
								</td>
								<td style="width:25%">
									<a href=""  target="_blank">
										<img src="img/partner_images/logo_transparent_resize.png">
									</a>
								</td>
							</tr>
						</table>							  
						<h2>Our Development Partners</h2>
						<table class="solution-partners">
							<tr>
								<td style="width:25%;" >
									<a href="#" target="_blank">
										<img src="img/partner_images/goodworklabs_logo.png" style=" background-color: rgb(241,108,73);padding:5px;">
									</a>
								</td>
								<td style="width:25%;">
									<a href="#" target="_blank">
										<img src="img/partner_images/niit_logo.png">
									</a>
								</td>
								<td style="width:25%;">
									<a href="#" target="_blank">
										<img src="img/partner_images/optit_logo.png">
									</a>
								</td>
								<td style="width:25%">
									<a href="#" target="_blank">
										<img src="img/partner_images/qualitrix_logo.png">
									</a>
								</td>
							</tr>
							<tr>
								<td style="width:25%">
									<a href="#" target="_blank">
										<img src="img/partner_images/sahaj_logo.png">
									</a>
								</td>
								<td style="width:25%">
									<a href="#" target="_blank">
										<img src="img/partner_images/tekdi_logo.png">
									</a>
								</td>
								<td style="width:25%;">
									<a href="#" target="_blank">
										<img src="img/partner_images/tarento_logo.png" style=" background-color: #404040;">
									</a>
								</td>
							 </tr>
						</table>											      
					</div>
				</div>	
			</div>
		</div>
	  <div class="bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="title-green">Learning by Osmosis</h3>
					<p>Connected interactions within the learning community are a powerful stimulant to enlighten, reflect and re-examine thoughts and beliefs.</p>
					<p>So, participate in the Sunbird project, be a teacher as well as a learner and leave your mark to impact a million minds.</p>

					<button class="btn-features"><a href="contact/">Contact Us</a></button>
				</div>
			</div>
		</div>
	</div>	

	{% include footer.html %}

  </body>

</html>
