---
---
<!DOCTYPE html>
<html>
	
	<head>
	{% include head.html %}
	<meta name="robots" content="index, follow">
	</head>

  <body>
	  {% include header.html %}
    <div class="partnerpage fill-height inner__content fixed-content">
			<div class="container main">
				<div class="row">
					<div class="col-xs-12">
						<h1><center>Partner<center></h1>
						<p><center>The goal of the Sunbird project is to open the  arena for community <br>participation to build effective, engaging and customizable learning <br>solutions. Participate and contribute in your own unique way.</center></p>						
						<table>
						 <tr>
							<td style=width:25%";><img src="pages/features-documentation/images/partner_images/software-developers.png"><center><br><strong>Software Developers          </strong> <br>Write code to develop <br>new features</center></td>
              						<td style=width:25%";><img src="pages/features-documentation/images/partner_images/software-architects.png"><center><br><strong>Software Architects          </strong> <br>Extend the platform</center></td>
             					 	<td style=width:25%";><img src="pages/features-documentation/images/partner_images/educators.png"><center><br><strong>Educators                              </strong> <br>Suggest courses, course <br>structures, create <br>learning material, <br>review artifacts <br>and more</center></td>
              						<td style=width:25%";><img src="pages/features-documentation/images/partner_images/students.png"><center><br><strong>Students                                </strong> <br>Use the learning <br>artifacts and <br>provide feedback</center></td>
		      				 </tr>
						</table>								
						<p class="text-center"><btn class="btn-default"><a href="contact/">Contact Us</a></btn></p>
					</div>
				</div>
			</div>
		</div>

	{% include footer.html %}

  </body>

</html>
