<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				
			<div class="col-md-4 col-sm-12">
			</div>
			
			<div class="col-md-2 col-sm-6 ">
				<ul>
					<li><a href="about/">About Sunbird</a></li>
					<li><a href="contact/">Contact Us</a></li>
					<li><a href="privacy-policy/">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-sm-6 sideline">
				<ul>
					<li><a href="docs/">Documentation</a></li>
					<li><a href="features/">Features</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-12">
			</div>
			
		</div>
	</div>
</footer>
 
