<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-xs-8 logo">
				<a href="/" >
					<img src="/img/sunbird-logo.png" alt="logo">
				</a>
			</div>
			<div class="col-xs-4 text-right visible-xs mobile-menu">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
					<span class="sr-only">Toggle navigation</span>
					<i class="material-icons">menu</i>
				</button>
			</div>
			<div class="col-xs-12 col-sm-7 text-right navbar main-menu">
				<div class="navbar-header">
					<div class="collapse navbar-collapse" id="mainNav" >
						<ul class="nav navbar-nav">
							<li class=""><a href="/about/">About</a></li>
							<li class=""><a href="/features/">Features</a></li>
							<li class=""><a href="/docs/">Documentation</a></li>
							<li class=""><a href="/participate/">Participate</a></li>
							<li class=""><a href="https://github.com/project-sunbird" target="_blank">Source Code</a></li>
							<li class=""><a href="/contact/">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>					
		</div>
	</div>
</header>
