<div class="search-cover">
<script>
  (function() {
    var cx = '011161296167083560120:7zkghjy_4h0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
<script>
$( window ).on( "load", function() {
	$('#gsc-i-id1').attr('placeholder','Search');
	//$('#gsc-i-id1').removeAttr('placeholder');
	$('#gsc-i-id1').css('background', 'none');
	$("#gsc-i-id1").blur(function() {
	$('#gsc-i-id1').css('background', 'none');
});
    });
</script>
