<div class="search-cover">
	<form method="get" action="https://www.google.com/search" target="_blank">
		<input type="text" value="" name="q" placeholder="Search"/ class="search-input" title="Enter keyword to search">
		<input type="hidden" value="en" name="hl" />
		<input type="hidden" name="sitesearch" value="http://www.sunbird.org" />
		<input type="hidden" value="lang_en" name="lr" />
		<button type="submit" onclick="submit()" class="search-btn" title="Search">
			<i class="fa fa-search"></i>
		</button>
	</form>
</div>
