<div id="">
	{% if site.showSearch == true %}
		{% include search.html %}
	{% endif %}
	<div class="sidebar-wrapper {{page.directory | slugify}}">
		<div class="" >
			<a href="architecture/">
				<h4 class="sidebar-group-title">Architecture</h4>
			</a>
			<ul class="sidebar-group architecture">
				<li>
					<a href="architecture/overview/">Overview</a>
				</li>
				<li>
					<a href="architecture/design/">Design</a>
				</li>
				<li>
					<div class="">
						<a href="architecture/views/elementryview/">Views</a>
						<ul class="sidebar-group">
							<li>
								<a href="architecture/views/logical/">Logical View</a>
							</li>
							<li>
								<a href="architecture/views/physical/">Physical View</a>
							</li>
							<li>
								<a href="architecture/views/conceptual/">Conceptual View</a>
							</li>
							<li>
								<a href="architecture/views/deployment/">Deployment View</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="architecture/usecase/">Use Cases</a>
				</li>
			</ul>
			<a href="features-documentation/">
				<h4 class="sidebar-group-title">Product Features</h4>
			</a>
			<ul class="sidebar-group features-documentation" >
				<!--<li>
					<a href="features-documentation/onboarding/">Onboarding</a>
				</li>-->
				<li>
					<a href="features-documentation/login/">Login</a>
				</li>
				<li>
					<a href="features-documentation/register_org/">Register Organizations</a>
				</li>
				<li>
					<a href="features-documentation/register_user/">Register Users</a>
				</li>
				<li>
					<a href="features-documentation/userrolepermission/">User Roles and Permissions</a>
				</li>
				<li>
					<div class="">
	                                        <ul class="sidebar-group">
							<li>
								<a href="features-documentation/user_type/">Types of Users</a>
							</li>
							<li>
								<a href="features-documentation/userprofile/">User Profile</a>
							</li>
							<li>
								<a href="features-documentation/workspace/">Workspace</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="features-documentation/course_intro/">Courses</a>
				</li>
				<li>
					<div class="">
						<ul class="sidebar-group">
							<li>
								<a href="features-documentation/course_creation/">Course Creation</a>
							</li>
							<li>
								<a href="features-documentation/course_batches/">Batch Creation</a>
							</li>
							<li>
								<a href="features-documentation/course_consumption/">Course Consumption</a>
							</li>					
						</ul>
					</div>
				</li>
				<li>
					<a href="features-documentation/announcement/">Announcement</a>
				</li>
				<li>
					<a href="features-documentation/library/">Library</a>
				</li>
				<li>
					<a href="features-documentation/contentlifecycle/">Content Lifecycle</a>
				</li>
				<!--<li>
					<a href="features-documentation/contentcreation/">Content Creation</a>
				</li>-->
				<li>
					<a href="features-documentation/contenteditor/">Content Editor</a>
				</li>
                                <!--<li>
					<a href="features-documentation/consumption/">Consume Study Material</a>
				</li>-->
				</li>
				<li>
					<div class="">
						<a href="features-documentation/guidelines/" >Guidelines</a>
						<ul class="sidebar-group">
							<li>
								<a href="features-documentation/intellectualproperty/">Intellectual Property</a>
							</li>
						</ul>
					</div>
				</li>
				<!--<li>
					<a href="features-documentation/reportinganalytics/">Reporting and Analytics</a>
				</li>-->
				<li>
					<a href="features-documentation/collaborationpartnership/">Collaboration and Partnership</a>
				</li>
				</ul>
				<a href="developer-docs/">
					<h4 class="sidebar-group-title">Developer Documentation</h4>
				</a>
				<ul class="sidebar-group developer-docs">
					<li>
						<a href="developer-docs/getting_started/">Getting Started with Sunbird</a>
                                        </li>
					<li>
						<a href="developer-docs/installation/">Installation Overview</a>
					</li>
					<!--<li>
						<a href="developer-docs/hosting_sunbird/">Hosting Sunbird</a>
					</li>-->
					<li>
						<a  href="developer-docs/installation/installing_sunbirdon_machine/">Install Sunbird on your Machine</a>
					</li>
					<li>
						<div class="">
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/installation/install_sbportal/">Installing Sunbird Portal</a>
								</li>
								<li>
									<a href="developer-docs/installation/install_sbbackend/">Installing Sunbird Backend</a>
								</li>
							</ul>
						</div>
					</li>		
					
					
					<li>
						<div class="">
							<a href="developer-docs/installation/medium_scale_deploy/">Medium Scale Deployment</a>
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/installation/provisioning_servers/">Provisioning Servers</a>
								</li>
								<li>
									<a href="developer-docs/installation/setup_db/">Setup Databases</a>
								</li>
								<li>
									<a href="developer-docs/installation/deploy_sb_services/">Deploying Sunbird Services</a>
								</li>
								<li>
									<div class="">
										<ul class="sidebar-group">
											<li>
												<a href="developer-docs/installation/keycloak_realm_configuration/">Configure Keycloak</a>
											</li>
										</ul>
									
									</div>
								</li>
								<li>
									<a href="developer-docs/installation/cust_sunbird/">Customizing Assets</a>
								</li>
								<li>
									<a href="developer-docs/installation/check_installation/">Check Installation</a>
								</li>
								<!--<li>
									<a href="developer-docs/installation/keycloak_sms_authenticator/">Authentication</a>
								</li>-->
							</ul>
						</div>
					</li>
					<li>
						<div class="">
							<a href="developer-docs/onboarding/">Onboarding</a>
							<ul class="sidebar-group">
								<li>
									<div class="">
										<a href="developer-docs/singlesignon/overview_sso/">Onboarding via Single Sign On</a>									<ul class="sidebar-group">
										<ul class="sidebar-group">
											<li> 
												<a href="developer-docs/singlesignon/protocol_sso/">Protocol</a>
											</li>
											<li>
												<a href="developer-docs/singlesignon/procedure_sso/">Procedure</a>
											</li>
										<!--<li>
											<a href="developer-docs/singlesignon/api_info_sso/">API Information</a>
										</li>-->
											<li>
												<a href="developer-docs/singlesignon/org_user_creation_sso/">Creating Organizations and Users</a>
											</li>
											<li>
												<a href="developer-docs/singlesignon/commonerrors_sso/">Common errors and solutions</a>
											</li>
										</ul>
									</div>
								</li>
							<li>
								<a href="developer-docs/announcement_onboarding/">Announcements Onboarding</a>
							</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="developer-docs/upgrading/">Upgrading</a>
					</li>
					<li>
						<a href="developer-docs/installation/install_mobile_setup/">Mobile App Installation</a>
					</li>
					<!--<li>
						<div class="">
							<a class="sidebar-group-title" href="developer-docs/extending_sunbird/">Extending Sunbird</a>
						</div>
					</li>
					<li>
						<div class="">
							<a class="sidebar-group-title" href="developer-docs/customize_sunbird/">Customizing Sunbird</a>
						</div>
					</li>-->
					<li>
						<div class="">
							<a  href="apis/">API References</a>
							<ul class="sidebar-group">
								<li>
									<a href="apis/bulkupload/" target="_blank">Bulk Upload Service APIs</a>
								</li>
								<li>
									<a href="apis/content/" target="_blank">Content APIs</a>
								</li>
								<li>
									<a href="apis/coursebatchmanapi/" target="_blank">Course Batch Management APIs</a>
								</li>
								<li>
									<a href="apis/datasyncapi/" target="_blank">Data Sync APIs</a>
								</li>
								<li>
									<a href="apis/metricsapi/" target="_blank">Metrics APIs</a>
								</li>
								<li>
									<a href="apis/notificationapi/" target="_blank">Notification APIs</a>
								</li>
								<li>
									<a href="apis/orgapi/" target="_blank">Organisation Management APIs</a>
								</li>
								<li>
									<a href="apis/userapi/" target="_blank">User APIs</a>
								</li>
								<li>
									<a href="apis/announcements/" target="_blank">Announcement APIs</a>
								</li>
								<li>
									<a href="apis/framework/" target="_blank">Framework APIs</a>
								</li>
								<li>
									<a href="apis/audienceapi/" target="_blank">Audience APIs</a>
								</li>
								<li>
									<a href="apis/badgesapi/" target="_blank">User Badges APIs</a>
								</li>
								<li>
									<a href="apis/dialapi/" target="_blank">D.I.A.L APIs</a>
								</li>
								<li>
									<a href="apis/firebasecloudmessagingapi/" target="_blank">Push Notification APIs</a>
								</li>
								<li>
									<a href="apis/geolocationapi/" target="_blank">Geo Location APIs</a>
								</li>
								<li>
									<a href="apis/masterkeyapi/" target="_blank">Master Key APIs</a>
								</li>
								<li>
									<a href="apis/noteapi/" target="_blank">User Notes APIs</a>
								</li>
								<li>
									<a href="apis/objectapi/" target="_blank">Object APIs</a>
								</li>
								<li>
									<a href="apis/pagesapi/" target="_blank">Pages APIs</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="">
							<a href="developer-docs/telemetry/overview">Telemetry</a>
							<ul class="sidebar-group">
								<li> 
									<a href="developer-docs/telemetry/specification/">Telemetry Specifications</a>
								</li>
								<li>
							                 <a href="developer-docs/telemetry/sending_telemetry/">Sending Telemetry</a>
								</li>	
								<li>
									<div class="">
									<a href="developer-docs/telemetry/consuming_telemetry/">Consuming Telemetry Data</a>
										<ul class="sidebar-group">
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#mobile-app-workflow">Mobile App Workflow</a>
											</li>
											<li>
								                <a href="developer-docs/telemetry/consuming_telemetry/#web-portal-workflow">Web Portal Workflow</a>
											</li>
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#content-editor-workflow">Content Editor Workflow</a>
											</li>
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#backend-services-workflow">Backend-services Workflow</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>	
					<li>
						<div class="">
						<a href="developer-docs/library_reference/">Library References</a>
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/telemetry/jslibrary/">Standalone JS Library</a>
								</li>
								<li>
									<a href="developer-docs/telemetry/htmlinterfacelibrary/">HTML Interface Library</a>
								</li>
								<li>
									<a href="developer-docs/telemetry/authtokengenerator_jslibrary/">AuthToken Generator JS Library</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="developer-docs/troubleshooting/">Troubleshooting</a>
					</li>
				</div>
			</li>
		</ul>
		<a href="faqs/">
			<h4 class="sidebar-group-title">Frequently asked questions</h4>
		</a>
		<ul class="sidebar-group faqs" >
			<li>
				<a href="faqs/audience/">Audience</a>
			</li>
			<li>
				<a href="faqs/content_format/">Content Format</a>
			</li>
			<li>
				<a href="faqs/content_repo/">Content Repositories</a>
			</li>
			<li>
				<a href="faqs/contentreviews/">Content Review</a>
			</li>
			<li>
				<a href="faqs/content_types/">Content Types</a>
			</li>
			<li>
				<a href="faqs/content_upload/">Content Upload</a>
			</li>
			<li>
				<a href="faqs/feature/">Features</a>
			</li>
			<li>
				<a href="faqs/fixerrors/">Fix Errors</a>
			</li>
			<li>
				<a href="faqs/helpsupport/">Help Support</a>
			</li>
			<li>
				<a href="faqs/intellectual_propertylicensesstandards/">Intellectual Property Licenses Standards</a>
			</li>
			<li>
				<a href="faqs/registrationenrolment/">Registration and Enrollment</a>
			</li>
			<li>
				<a href="faqs/signin/">Sign In</a>
			</li>
			<li>
				<a href="faqs/taxonomymetadataframework/">Taxonomy Meta Data Framework</a>
			</li>
			<li>
				<a href="faqs/user_rightspermissions/">Users Rights and Permission</a>
			</li>
		</ul>
		<a href="glossary/">
			<h4 class="sidebar-group-title">Glossary</h4>
		</a>
	</div>
</div>
<script>
$("a[href$='{{page.url | remove_first: "/" }}']").addClass("sidebar-link-selected");
</script>
