<div id="">
    {% if site.showSearch == true %} {% include search.html %} {% endif %}
    <div class="sidebar-wrapper {{page.directory | slugify}}">
        <div class="">
            <a href="architecture/">
                <h4 class="sidebar-group-title">Architecture</h4>
            </a>
            <ul class="sidebar-group architecture">
                <li>
                    <a href="architecture/overview/">Overview</a>
                </li>
                <li>
                    <a href="architecture/design/">Design</a>
                </li>
                <li>
                    <div class="">
                        <a href="architecture/views/elementryview/">Views</a>
                        <ul class="sidebar-group">
                            <li>
                                <a href="architecture/views/logical/">Logical View</a>
                            </li>
                            <li>
                                <a href="architecture/views/physical/">Physical View</a>
                            </li>
                            <li>
                                <a href="architecture/views/conceptual/">Conceptual View</a>
                            </li>
                            <li>
                                <a href="architecture/views/deployment/">Deployment View</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="architecture/usecase/">Use Cases</a>
                </li>
            </ul>
            <a href="features-documentation/">
                <h4 class="sidebar-group-title">Product Features</h4>
            </a>
            <ul class="sidebar-group features-documentation">
                <li>
                    <a href="features-documentation/login/">Sign In</a>
                </li>
                <li>
                    <a href="features-documentation/register_org/">Register Organizations</a>
                </li>
                <li>
                    <a href="features-documentation/register_user/">Register Users</a>
                </li>
                <li>
                    <a href="features-documentation/userrolepermission/">User Roles and Permissions</a>
                </li>
                <li>
                    <div class="">
                        <ul class="sidebar-group">
                            <li>
                                <a href="features-documentation/userrole/">Types of Users</a>
                            </li>
                            <li>
                                <a href="features-documentation/userprofile/">User Profile</a>
                            </li>
                            <li>
                                <a href="features-documentation/workspace/">Workspace</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="features-documentation/admindashboard/">Administrator Dashboard</a>
                </li>
                <li>
                    <a href="features-documentation/lessonplan/">Lesson Plan</a>
                </li>
                <li>
                    <a href="features-documentation/book_creation/">Book</a>
                </li>
                <li>
                    <a href="features-documentation/collection_creation/">Collection</a>
                </li>
		<li>
                    <a href="features-documentation/resource_creation/">Resource</a>
                </li>
                <li>
                    <a href="features-documentation/course_intro/">Courses</a>
                </li>
                <li>
                    <div class="">
                        <ul class="sidebar-group">
                            <li>
                                <a href="features-documentation/course_creation/">Course Creation</a>
                            </li>
                            <li>
                                <a href="features-documentation/course_batches/">Batch Creation</a>
                            </li>
                            <li>
                                <a href="features-documentation/course_consumption/">Taking a Course</a>
                            </li>
                        </ul>
                    </div>
				</li>
			<li>
			     <a href="features-documentation/upload/">Uploading Content</a>
                	</li>	
		    		<li>
                    <div class="">
                        <a href="features-documentation/badging_framework/badging_overview/">Badging Framework</a>
                        <ul class="sidebar-group">
                            <li>	
                                <a href="features-documentation/badging_framework/content_badges/">Issuing Badges for Content</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="features-documentation/announcement/">Announcement</a>
                </li>
                <li>
                    <a href="features-documentation/content_review/">Content Review</a>
                </li>
		<li>
                    <a href="features-documentation/library/">Library</a>
                </li>
                <li>
                    <a href="features-documentation/contentlifecycle/">Content Lifecycle</a>
                </li>
                <li>
                    <a href="features-documentation/contenteditor/">Content Editor</a>
                </li>
                <li>
                    <div class="">
                        <a href="features-documentation/guidelines/">Guidelines</a>
                        <ul class="sidebar-group">
                            <li>
                                <a href="features-documentation/intellectualproperty/">Intellectual Property</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="features-documentation/collaborationpartnership/">Collaboration and Partnership</a>
				</li>
				<li>
					<a href="features-documentation/mobileapp/allappfeatures/">Mobile App Features</a>
				</li>
            </ul>
            <a href="usertaskflow/">
				<h4 class="sidebar-group-title">User Task Flows</h4>
			</a>
				<ul class="sidebar-group usertaskflow">
					<li>
						<a href="usertaskflow/how_do_i_create_content/">How do I Create Content</a>
					</li>
						    <li>
								<a href="usertaskflow/how_do_i_add_video/">How do I Add a Video</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_text/">How do I Add Text</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_audio/">How do I Add Audio</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_hotspot/">How do I Add a Hotspot</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_image/">How do I Add an Image</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_shape/">How do I Add Shapes</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_scribblepad/">How do I Add the Scribblepad</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_activity/">How do I Add an Activity</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_create_course/">How do I Create a Course</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_create_book/">How do I Create a Book</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_create_book_with_dial_code/">How do I Add DIAL Codes to a Book</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_create_lessonplan/">How do I Create a Lesson Plan</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_create_collection/">How do I Create a Collection</a>
						    </li>
						    <li>
								<a href="usertaskflow/reviewer_taskflow/">How do I Review Content</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_uploadcontent/">How do I Upload Content</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_delete_content/">How do I Delete Content</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_metadata/">How do I Add Metadata</a>
						    </li>
						    <li>
								<a href="usertaskflow/how_do_i_add_resource/">How do I Add Resource</a>
						    </li>
						    <li>
								<a href="usertaskflow/limited_sharing/">How do I Share Content to a Limited Group</a>
						    </li>
					    </ul>
            <a href="developer-docs/">
                <h4 class="sidebar-group-title">Developer Documentation</h4>
            </a>
            <ul class="sidebar-group developer-docs">
                <li>
                    <a href="developer-docs/getting_started/">Getting Started with Sunbird</a>
                </li>           
                <li>
                    <div class="">
                        <a href="developer-docs/installation/">Installation</a>
                        <ul class="sidebar-group">
                            <li>
                                <a href="developer-docs/installation/developer_installation/">Developer Installation</a>
                            </li>
                            <li>
                                <a href="developer-docs/installation/server_installation/">Server Installation</a>
                            </li>
                            <li>
                                <a href="developer-docs/installation/install_mobile_setup/">Mobile App Installation</a>
                            </li>
                            <li>
                                <a href="developer-docs/upgrading/">Upgrading Sunbird</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="">
                        <a href="developer-docs/configuring_sunbird/">Configuration</a>
                        <ul class="sidebar-group">
                            <li>
				                <a href="developer-docs/configuring_sunbird/sso_publickey/">SSO Public Key Configuration</a>
                            </li>
			    <li>
				                <a href="developer-docs/configuring_sunbird/env_variables_portal/">Portal Service Environment Variables</a>
                            </li>
			    <li>
				                <a href="developer-docs/configuring_sunbird/env_variables_content_service/">Content Service Environment Variables</a>
                            </li>
			     <li>
				                <a href="developer-docs/configuring_sunbird/env_variables_lms/">LMS Service Environment Variables</a>
			     </li>
                          </ul>
                    </div>
                </li>
		        <li>
                    <div class="">
                        <a href="developer-docs/onboarding/">Onboarding</a>
                        <ul class="sidebar-group">
                            <li>
                                           <a href="developer-docs/singlesignon/org_user_creation_sso/">Creating Organizations and Users</a>
                                        </li>
					<li>	
                                            <a href="features-documentation/badging_framework/creating_badges/">Creating Badges</a>
					</li>
					<li>	
                                             <a href="features-documentation/badging_framework/badges_users/">Issuing Badges to Users</a>
					</li>
					<li> 
				            <a href="developer-docs/configuring_sunbird/configuring_announcement/">Creating Announcements</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        
                
                <li>
                    <div class="">
                        <a href="developer-docs/telemetry/overview/">Telemetry</a>
                        <ul class="sidebar-group">
                            <li>
                                <a href="developer-docs/telemetry/specification/">Telemetry Specifications</a>
                            </li>
                            <li>
                                <a href="developer-docs/telemetry/sending_telemetry/">Sending Telemetry</a>
                            </li>
                            <li>
                                <div class="">
                                    <ul class="sidebar-group">
                                        <li>
                                            <a href="developer-docs/telemetry/consuming_telemetry/#mobile-app-workflow">Mobile App Workflow</a>
                                        </li>
                                        <li>
                                            <a href="developer-docs/telemetry/consuming_telemetry/#web-portal-workflow">Web Portal Workflow</a>
                                        </li>
                                        <li>
                                            <a href="developer-docs/telemetry/consuming_telemetry/#content-editor-workflow">Content Editor Workflow</a>
                                        </li>
                                        <li>
                                            <a href="developer-docs/telemetry/consuming_telemetry/#backend-services-workflow">Backend-services Workflow</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="">
                        <a href="developer-docs/library_reference/">Library References</a>
                        <ul class="sidebar-group">
                            <li>
                                <a href="developer-docs/telemetry/jslibrary/">Standalone JS Library</a>
                            </li>
                            <li>
                                <a href="developer-docs/telemetry/htmlinterfacelibrary/">HTML Interface Library</a>
                            </li>
                            <li>
                                <a href="developer-docs/telemetry/authtokengenerator_jslibrary/">AuthToken Generator JS Library</a>
                            </li>
                            <!--<li>
                                <a href="pages/developer-docs/content-renderer/" target="_blank">Content Renderer</a>
                            </li>
                            <li>
                                <a href="pages/developer-docs/content-editor-framework/" target="_blank">Content Editor Framework</a>
                            </li>
                            <li>
                                <a href="pages/developer-docs/content-editor-plugins/" target="_blank">Content Editor Plugins</a>
                            </li>-->
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="developer-docs/troubleshooting/">Troubleshooting</a>
                </li>
            </ul>
            <a href="apis/">
				<h4 class="sidebar-group-title">API Reference Documentation</h4>
			</a>
            <ul class="sidebar-group apis">
                <li>
                    <a href="apis/#feature" >Feature</a>
                </li>
                <li>
                    <a href="apis/#admin-apis" >Administration</a>
                </li>
                <li>
                    <a href="apis/#setup-apis" >Setup</a>
                </li>
                <li>
                    <a href="apis/#data-apis" >Data</a>
                </li>
            </ul>
            <a href="contributions/">
                <h4 class="sidebar-group-title">Contribute to Sunbird</h4>
            </a>
            <ul class="sidebar-group contributions">
                <li>
                    <a href="contributions/filing_a_bug/">Guidelines for Filing a Bug</a>
                </li>
                <li>
                    <a href="contributions/contribution_guidelines/">Contributing to Sunbird Documentation</a>
                </li>
            </ul>
             <a href="release_notes/">
                <h4 class="sidebar-group-title">Release Notes</h4>
            </a> 
	   <a href="faqs/">
                <h4 class="sidebar-group-title">Frequently asked questions</h4>
            </a>
            <ul class="sidebar-group faqs">
                <li>
                    <a href="faqs/audience/">Audience</a>
                </li>
                <li>
                    <a href="faqs/content_format/">Content Format</a>
                </li>
                <li>
                    <a href="faqs/content_repo/">Content Repositories</a>
                </li>
                <li>
                    <a href="faqs/contentreviews/">Content Review</a>
                </li>
                <li>
                    <a href="faqs/content_types/">Content Types</a>
                </li>
                <li>
                    <a href="faqs/content_upload/">Content Upload</a>
                </li>
                <li>
                    <a href="faqs/feature/">Features</a>
                </li>
                <li>
                    <a href="faqs/fixerrors/">Fix Errors</a>
                </li>
                <li>
                    <a href="faqs/helpsupport/">Help Support</a>
                </li>
                <li>
                    <a href="faqs/intellectual_propertylicensesstandards/">Intellectual Property Licenses Standards</a>
                </li>
                <li>
                    <a href="faqs/registrationenrolment/">Registration and Enrollment</a>
                </li>
                <li>
                    <a href="faqs/signin/">Sign In</a>
                </li>
                <li>
                    <a href="faqs/taxonomymetadataframework/">Taxonomy Meta Data Framework</a>
                </li>
                <li>
                    <a href="faqs/user_rightspermissions/">Users Rights and Permission</a>
                </li>
            </ul>
            <a href="glossary/">
                <h4 class="sidebar-group-title">Glossary</h4>
            </a>
        </div>
    </div>
</div>
<script>
    $("a[href$='{{page.url | remove_first: "/" }}']").addClass("sidebar-link-selected");
</script>
