<p>The technical stack of Sunbird is evolutionary and modern in nature. Effortless maintainability, seamless portability, enhanced reusability, and easy testability makes Sunbird easy to use and deploy. Sunbird is built on Ekstep Infra Layer with additional RESTful APIs and related contextual data to build a rich learning management system for teachers/students and is implemented using the following modern technologies:</p>

<h3 id="apache-cassandra">Apache Cassandra</h3>

<p>It’s a NoSQL database management system designed to handle large amounts of data across many commodity servers, providing high availability with no single point of failure. It holds all the contextual data of Sunbird like organization, user, course, community, forums etc.</p>

<h3 id="elastic-search">Elastic Search</h3>

<p>It provides a distributed, multi-tenant-capable full-text search with an HTTP web interface and schema-free JSON documents. It helps indexing courses for easy look-up against teacher, region, organization, time-line etc. It alos provides community tracking capabilities.</p>

<h3 id="kafka--kibana">Kafka &amp; Kibana</h3>

<p>Kafka enables Sunbird platform to stream content in real-time using data pipelines. An amalgamation of various data related tools in Sunbird provide an intuitive way to get insights about various functional entities of Sunbird. For instance, using various other data tools the Sunbird admin can get better understanding of content and its usage. It generates reports on users, content consumption, courses etc. The data related tools provide flexibility in viewing the analytics in different forms like line and scatter plots, or pie charts and maps.</p>

<h3 id="play-framework">Play Framework</h3>

<p>Sunbird uses play framework with Kafka to present content to its users, wherein the underlying framework provides predictable and minimal resource consumption.</p>

<h3 id="akka">Akka</h3>

<p>Akka is used as base for play framework, which provides powerful reactive, concurrent, and distributed application framework.</p>

<h3 id="angular-and-nodejs">Angular and Node.js</h3>

<p>It provides an environment to Sunbird which is extraordinarily expressive, readable, and quick to develop. It is fully extensible and works well with other libraries. It maximizes scalability and provides seamless extensibility.</p>

<h3 id="android">Android</h3>

<p>Sunbird can be viewed on mobile using android platform. An Android Sunbird app can be developed to make Sunbird mobile and enable anywhere and anytime use.</p>

