<!DOCTYPE html>
<html>
	<head>
	<base id="baseURL" href="/" />
<script>
	// Dynamic Base URL
	function getBase(){
		excludedSites = ["127.0.0.1:4000", "www.sunbird.org"];
		baseURL = document.getElementById('baseURL');
		if (excludedSites.indexOf(window.location.host) > -1){
			baseURL.href="/";
		} else {
			baseURL.href="/releases/release.1.26.b/";
		}
	}
	getBase();
</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=10, user-scalable=yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
<meta name="msapplication-TileColor" content="#65d3f7">
<meta name="msapplication-TileImage" content="img/favicon/mstile-150x150.png">

<title>Sunbird Deployment View</title>
<meta name="description" content="Sunbird Site Deployment View"/>

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="last-modified" content="2018-02-23 10:57:36 +0530">
<meta http-equiv="Expires" content="600" />

<!--Build Details-->
<meta name="buildVersion" content="release.1.26.b" />
<meta name="buildNo" content="1948" />
<!--/Build Details-->

<!-- CDN's-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" >
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- /CDN's-->

<link rel="stylesheet" href="css/owl/owl.carousel.min.css?23022018"  />
<link rel="stylesheet" href="css/style.css?23022018"  />
<script type="text/javascript" src="js/bootstrap.min.js?23022018"></script>
<script type="text/javascript" src="js/owl.carousel.min.js?23022018"></script>
<script type="text/javascript" src="js/jquery.tocLight.js?23022018"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106552125-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-106552125-1');
</script>

	
		<meta name="robots" content="index, follow">
	
  </head>
  <body id="body">
  <div class="container inner container-height docs">
    <header class="logo-container">
      <div class="logo">
        <a href="index.html">
          <img src="img/sunbird-logo.png" alt="Sunbird docs" title="Sunbird docs">
        </a>
      </div>
      <button type="button" class="dropdown-toggle collapsed" id="dropdown-trigger" data-toggle="collapse" data-target="#mobile-dropdown" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </header>
    <nav class="sidebar-container" id="mobile-dropdown">
      <div class="inner__sidebar">
        <div id="">
	
		<div class="search-cover">
	<form method="get" action="https://www.google.com/search" target="_blank">
		<input type="text" value="" name="q" placeholder="Search"/ class="search-input" title="Enter keyword to search">
		<input type="hidden" value="en" name="hl" />
		<input type="hidden" name="sitesearch" value="http://www.sunbird.org" />
		<input type="hidden" value="lang_en" name="lr" />
		<button type="submit" onclick="submit()" class="search-btn" title="Search">
			<i class="fa fa-search"></i>
		</button>
	</form>
</div>

	
	<div class="sidebar-wrapper architecture-views">
		<div class="" >
			<a href="architecture/">
				<h4 class="sidebar-group-title">Architecture</h4>
			</a>
			<ul class="sidebar-group architecture">
				<li>
					<a href="architecture/overview/">Overview</a>
				</li>
				<li>
					<a href="architecture/design/">Design</a>
				</li>
				<li>
					<div class="">
						<a href="architecture/views/elementryview/">Views</a>
						<ul class="sidebar-group">
							<li>
								<a href="architecture/views/logical/">Logical View</a>
							</li>
							<li>
								<a href="architecture/views/physical/">Physical View</a>
							</li>
							<li>
								<a href="architecture/views/conceptual/">Conceptual View</a>
							</li>
							<li>
								<a href="architecture/views/deployment/">Deployment View</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="architecture/usecase/">Use Cases</a>
				</li>
			</ul>
			<a href="features-documentation/">
				<h4 class="sidebar-group-title">Product Features</h4>
			</a>
			<ul class="sidebar-group features-documentation" >
				<!--<li>
					<a href="features-documentation/onboarding/">Onboarding</a>
				</li>-->
				<li>
					<a href="features-documentation/login/">Login</a>
				</li>
				<li>
					<a href="features-documentation/register_org/">Register Organizations</a>
				</li>
				<li>
					<a href="features-documentation/register_user/">Register Users</a>
				</li>
				<li>
					<a href="features-documentation/userrolepermission/">User Roles and Permissions</a>
				</li>
				<li>
					<div class="">
	                                        <ul class="sidebar-group">
							<li>
								<a href="features-documentation/user_type/">Types of Users</a>
							</li>
							<li>
								<a href="features-documentation/userprofile/">User Profile</a>
							</li>
							<li>
								<a href="features-documentation/workspace/">Workspace</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="features-documentation/admindashboard/">Administrator Dashboard</a>
				</li>
				<li>
					<a href="features-documentation/lessonplan/">Lesson Plan</a>
				</li>
				<li>
					<a href="features-documentation/book_creation/">Book</a>
				</li>
				<li>
					<a href="features-documentation/collection_creation/">Collection</a>
				</li>
				<li>
					<a href="features-documentation/course_intro/">Courses</a>
				</li>
				<li>
					<div class="">
						<ul class="sidebar-group">
							<li>
								<a href="features-documentation/course_creation/">Course Creation</a>
							</li>
							<li>
								<a href="features-documentation/course_batches/">Batch Creation</a>
							</li>
							<li>
								<a href="features-documentation/course_consumption/">Course Consumption</a>
							</li>					
						</ul>
					</div>
				</li>
				<li>
					<a href="features-documentation/announcement/">Announcement</a>
				</li>
				<li>
					<a href="features-documentation/library/">Library</a>
				</li>
				<li>
					<a href="features-documentation/contentlifecycle/">Content Lifecycle</a>
				</li>
				<!--<li>
					<a href="features-documentation/contentcreation/">Content Creation</a>
				</li>-->
				<li>
					<a href="features-documentation/contenteditor/">Content Editor</a>
				</li>
                                <!--<li>
					<a href="features-documentation/consumption/">Consume Study Material</a>
				</li>-->
				</li>
				<li>
					<div class="">
						<a href="features-documentation/guidelines/" >Guidelines</a>
						<ul class="sidebar-group">
							<li>
								<a href="features-documentation/intellectualproperty/">Intellectual Property</a>
							</li>
						</ul>
					</div>
				</li>
				<!--<li>
					<a href="features-documentation/reportinganalytics/">Reporting and Analytics</a>
				</li>-->
				<li>
					<a href="features-documentation/collaborationpartnership/">Collaboration and Partnership</a>
				</li>
				</ul>
				<a href="developer-docs/">
					<h4 class="sidebar-group-title">Developer Documentation</h4>
				</a>
				<ul class="sidebar-group developer-docs">
					<li>
						<a href="developer-docs/getting_started/">Getting Started with Sunbird</a>
                                        </li>
					<li>
						<a href="developer-docs/installation/">Installation Overview</a>
					</li>
					<!--<li>
						<a href="developer-docs/hosting_sunbird/">Hosting Sunbird</a>
					</li>-->
					<li>
						<a  href="developer-docs/installation/installing_sunbirdon_machine/">Install Sunbird on your Machine</a>
					</li>
					<li>
						<div class="">
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/installation/install_sbportal/">Installing Sunbird Portal</a>
								</li>
								<li>
									<a href="developer-docs/installation/install_sbbackend/">Installing Sunbird Backend</a>
								</li>
							</ul>
						</div>
					</li>		
					<!--<li>
						<a href="developer-docs/installation/sunbird_actor_servc/">Actor System</a>
					</li>-->
					<li>
						<div class="">
							<a href="developer-docs/installation/medium_scale_deploy/">Medium Scale Deployment</a>
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/installation/provisioning_servers/">Provisioning Servers</a>
								</li>
								<li>
									<a href="developer-docs/installation/setup_db/">Setup Databases</a>
								</li>
								<li>
									<a href="developer-docs/installation/deploy_sb_services/">Deploying Sunbird Services</a>
								</li>
								<li>
									<div class="">
										<ul class="sidebar-group">
											<li>
												<a href="developer-docs/installation/keycloak_realm_configuration/">Configure Keycloak</a>
											</li>
										</ul>
									
									</div>
								</li>
								<li>
									<a href="developer-docs/installation/cust_sunbird/">Customizing Assets</a>
								</li>
								<li>
									<a href="developer-docs/installation/check_installation/">Check Installation</a>
								</li>
								<!--<li>
									<a href="developer-docs/installation/keycloak_sms_authenticator/">Authentication</a>
								</li>-->
							</ul>
						</div>
					</li>
					<li>
						<div class="">
							<a href="developer-docs/onboarding/">Onboarding</a>
							<ul class="sidebar-group">
								<li>
									<div class="">
										<a href="developer-docs/singlesignon/overview_sso/">Onboarding via Single Sign On</a>									<ul class="sidebar-group">
										<ul class="sidebar-group">
											<li> 
												<a href="developer-docs/singlesignon/protocol_sso/">Protocol</a>
											</li>
											<li>
												<a href="developer-docs/singlesignon/procedure_sso/">Procedure</a>
											</li>
										<!--<li>
											<a href="developer-docs/singlesignon/api_info_sso/">API Information</a>
										</li>-->
											<li>
												<a href="developer-docs/singlesignon/org_user_creation_sso/">Creating Organizations and Users</a>
											</li>
											<li>
												<a href="developer-docs/singlesignon/commonerrors_sso/">Common errors and solutions</a>
											</li>
										</ul>
									</div>
								</li>
							<li>
								<a href="developer-docs/configuring_announcement/">Configuring for Announcements</a>
							</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="developer-docs/upgrading/">Upgrading</a>
					</li>
					<li>
						<a href="developer-docs/installation/install_mobile_setup/">Mobile App Installation</a>
					</li>
					<!--<li>
						<div class="">
							<a class="sidebar-group-title" href="developer-docs/extending_sunbird/">Extending Sunbird</a>
						</div>
					</li>
					<li>
						<div class="">
							<a class="sidebar-group-title" href="developer-docs/customize_sunbird/">Customizing Sunbird</a>
						</div>
					</li>-->
					<li>
						<div class="">
							<a  href="apis/">API References</a>
							<ul class="sidebar-group">
								<li>
									<a href="apis/bulkupload/" target="_blank">Bulk Upload Service APIs</a>
								</li>
								<li>
									<a href="apis/content/" target="_blank">Content APIs</a>
								</li>
								<li>
									<a href="apis/coursebatchmanapi/" target="_blank">Course Batch Management APIs</a>
								</li>
								<li>
									<a href="apis/datasyncapi/" target="_blank">Data Sync APIs</a>
								</li>
								<li>
									<a href="apis/metricsapi/" target="_blank">Metrics APIs</a>
								</li>
								<li>
									<a href="apis/notificationapi/" target="_blank">Notification APIs</a>
								</li>
								<li>
									<a href="apis/orgapi/" target="_blank">Organisation Management APIs</a>
								</li>
								<li>
									<a href="apis/userapi/" target="_blank">User APIs</a>
								</li>
								<li>
									<a href="apis/announcements/" target="_blank">Announcement APIs</a>
								</li>
								<li>
									<a href="apis/framework/" target="_blank">Framework APIs</a>
								</li>
								<li>
									<a href="apis/audienceapi/" target="_blank">Audience APIs</a>
								</li>
								<li>
									<a href="apis/badgesapi/" target="_blank">User Badges APIs</a>
								</li>
								<li>
									<a href="apis/assessmentapi/" target="_blank">Assessment APIs</a>
								</li>
								<li>
									<a href="apis/dialapi/" target="_blank">D.I.A.L APIs</a>
								</li>
								<li>
									<a href="apis/firebasecloudmessagingapi/" target="_blank">Push Notification APIs</a>
								</li>
								<li>
									<a href="apis/geolocationapi/" target="_blank">Geo Location APIs</a>
								</li>
								<li>
									<a href="apis/masterkeyapi/" target="_blank">Master Key APIs</a>
								</li>
								<li>
									<a href="apis/noteapi/" target="_blank">User Notes APIs</a>
								</li>
								<li>
									<a href="apis/objectapi/" target="_blank">Object APIs</a>
								</li>
								<li>
									<a href="apis/pagesapi/" target="_blank">Pages APIs</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="">
							<a href="developer-docs/telemetry/overview">Telemetry</a>
							<ul class="sidebar-group">
								<li> 
									<a href="developer-docs/telemetry/specification/">Telemetry Specifications</a>
								</li>
								<li>
							                 <a href="developer-docs/telemetry/sending_telemetry/">Sending Telemetry</a>
								</li>
								<li>
									<div class="">
							
										<!--<a href="developer-docs/telemetry/consuming_telemetry/">Consuming Telemetry Data</a>-->
										<ul class="sidebar-group">
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#mobile-app-workflow">Mobile App Workflow</a>
											</li>
											<li>
								                <a href="developer-docs/telemetry/consuming_telemetry/#web-portal-workflow">Web Portal Workflow</a>
											</li>
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#content-editor-workflow">Content Editor Workflow</a>
											</li>
											<li>
												<a href="developer-docs/telemetry/consuming_telemetry/#backend-services-workflow">Backend-services Workflow</a>
											</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</li>	
					<li>
						<div class="">
						<a href="developer-docs/library_reference/">Library References</a>
							<ul class="sidebar-group">
								<li>
									<a href="developer-docs/telemetry/jslibrary/">Standalone JS Library</a>
								</li>
								<li>
									<a href="developer-docs/telemetry/htmlinterfacelibrary/">HTML Interface Library</a>
								</li>
								<li>
									<a href="developer-docs/telemetry/authtokengenerator_jslibrary/">AuthToken Generator JS Library</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="developer-docs/troubleshooting/">Troubleshooting</a>
					</li>
				</div>
			</li>
		</ul>
		<a href="contributions/">
			<h4 class="sidebar-group-title">Contribute to Sunbird</h4>
		</a>
		<ul class="sidebar-group contributions" >
			<li>
				<a href="contributions/filing_a_bug">Guidelines for Filing a Bug</a>
			</li>
			<li>
				<a href="contributions/contribution_guidelines">Contributing to Sunbird Documentation</a>
			</li>
		</ul>
		<a href="faqs/">
			<h4 class="sidebar-group-title">Frequently asked questions</h4>
		</a>
		<ul class="sidebar-group faqs" >
			<li>
				<a href="faqs/audience/">Audience</a>
			</li>
			<li>
				<a href="faqs/content_format/">Content Format</a>
			</li>
			<li>
				<a href="faqs/content_repo/">Content Repositories</a>
			</li>
			<li>
				<a href="faqs/contentreviews/">Content Review</a>
			</li>
			<li>
				<a href="faqs/content_types/">Content Types</a>
			</li>
			<li>
				<a href="faqs/content_upload/">Content Upload</a>
			</li>
			<li>
				<a href="faqs/feature/">Features</a>
			</li>
			<li>
				<a href="faqs/fixerrors/">Fix Errors</a>
			</li>
			<li>
				<a href="faqs/helpsupport/">Help Support</a>
			</li>
			<li>
				<a href="faqs/intellectual_propertylicensesstandards/">Intellectual Property Licenses Standards</a>
			</li>
			<li>
				<a href="faqs/registrationenrolment/">Registration and Enrollment</a>
			</li>
			<li>
				<a href="faqs/signin/">Sign In</a>
			</li>
			<li>
				<a href="faqs/taxonomymetadataframework/">Taxonomy Meta Data Framework</a>
			</li>
			<li>
				<a href="faqs/user_rightspermissions/">Users Rights and Permission</a>
			</li>
		</ul>
		<a href="glossary/">
			<h4 class="sidebar-group-title">Glossary</h4>
		</a>
	</div>
</div>
<script>
$("a[href$='architecture/views/deployment/']").addClass("sidebar-link-selected");
</script>

      </div>
    </nav>
    <div class="content">
      <div class="inner__content header" id="heading">
        <h1>Deployment View </h1>
      </div>

      <div id="main-content" class="inner__content">
			<p class="edit-para text-right">
				<span>
			<a target="_blank" class="contribute" href="contributions/contribution_guidelines">
				  <i class="fa fa-book" aria-hidden="true"></i> <i>Contribution Guidelines</i>
			  </a> &nbsp;&nbsp;
			  
			 <a target="_blank"  title="Edit this page"class="" href="https://github.com/project-sunbird/project-sunbird.github.io/edit/dev/pages/architecture/views/deployment.md">
				  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
			  </a> 
			  | 
			  <a target="_blank" href="https://github.com/project-sunbird/project-sunbird.github.io/issues" title="Report issue">
				  <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				  Report
			  </a>
			  </span>
			</p>
          <p><strong>Infrastructure</strong></p>

<p>Sunbird can run on Virtual Machines (VMs) using various Cloud providers or even bare metal. 
Cloud Infrastructure automation process will be updated soon on the website.</p>

<p><strong>Stable Builds Registry</strong></p>

<ul>
  <li>Sunbird builds are available at a <a href="https://hub.docker.com/u/sunbird" target="_blank">Image Registry</a>.</li>
  <li>These builds are in the form of a <a href="https://docs.docker.com/engine/reference/builder/" target="_blank">Dockerfile</a>.</li>
  <li>Sunbird stable releases are tagged as <code>gold</code>. While as Deployment scripts pull the <code>gold</code> images for production deployment.</li>
  <li>The <code>gold</code> images are also versioned to allow release management and upgrade paths.</li>
</ul>

<p><strong>Software Runtime</strong></p>

<p>Most runtimes in Sunbird are containerized as <a href="https://www.docker.com/what-container" target="_blank">Docker containers</a> for: 
- Portability
- Process isolation
- Standardization.<br />
For container orchestration, this repo contains scripts to run Sunbird on <a href="https://docs.docker.com/engine/swarm/" target="_blank">Docker Swarm</a>. Most of the cloud providers provide these container services. In our repo, we are using <a href="https://github.com/Azure/acs-engine" target="_blank">ACS-Engine</a>.</p>

<p><strong>Logging, Monitoring and Operational dashboards</strong></p>

<p>Sunbird comes with log aggregation and metrics reporting out of the box. For log aggregation, Sunbird is using a combination of</p>

<ul>
  <li><a href="https://github.com/google/cadvisor" target="_blank">cAdvisor</a></li>
  <li><a href="https://www.elastic.co/webinars/introduction-elk-stack" target="_blank">ELK stack</a></li>
  <li><a href="https://prometheus.io/" target="_blank">Prometheus</a> and their plugin ecosystem.</li>
</ul>

<p>Ops dashboards are built using: <a href="https://grafana.com/" target="_blank">Grafana</a> with some <a href="https://github.com/project-sunbird/sunbird-devops/tree/master/cloud/monitoring/grafana" target="_blank">reference</a> dashboards.</p>

<p><strong>Custom builds</strong></p>

<p>Sunbird enables its users to feature of extendibility.A user can take as a base image with custom implementation of public interfaces and rebuild it for deployment. Scripts are available for ramping up of complex deployments with support to run local build promotions and deployments.</p>

<p><strong>License</strong></p>

<p>The code in this repository is licensed under AGPL-3.0 unless otherwise noted. Please see the <a href="https://github.com/project-sunbird/sunbird-devops/blob/master/LICENSE" target="_blank">LICENSE</a> file for details.</p>


          
          <hr />
          
          <p class="edit-para text-right">
			<!--<a target="_blank"  class="" href="">
				  <i>Contribution Guidelines</i>
			  </a> &nbsp;&nbsp;-->
			<a target="_blank" href="https://github.com/project-sunbird/project-sunbird.github.io/edit/dev/pages/architecture/views/deployment.md" title="Fix this page">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a> |
			<a target="_blank" href="https://github.com/project-sunbird/project-sunbird.github.io/issues" title="Report issue">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Report</a>
		  </p>
		  <a href="architecture/views/deployment/#heading" class="scrollup"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
          
      </div>
    </div>
    <div class="page-footer">
		<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				
			<div class="col-md-4 col-sm-12">
			</div>
			
			<div class="col-md-2 col-sm-6 ">
				<ul>
					<li><a href="about/">About Sunbird</a></li>
					<li><a href="contact/">Contact Us</a></li>
					<li><a href="privacy-policy/">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-sm-6 sideline">
				<ul>
					<li><a href="docs/">Documentation</a></li>
					<li><a href="features/">Features</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-12">
			</div>
			
		</div>
	</div>
</footer>

	</div>
  </div>
  <script type="text/javascript">
	//TOC Toggle
    $(function() {
        $.toc.clickHideButton();
    });
    //Scroll to top
    $(document).ready(function () {
		$(".content").scroll(function () {
			if ($(this).scrollTop() > 250) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
		});
	});
	$('#toc a').each(function(){
		var url = this.href.replace(baseURL.href, "");
		this.href = 'architecture/views/deployment/' + url;
    })
  </script>
  </body>
</html>
