<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<base href="/">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
	<meta name="msapplication-TileColor" content="#65d3f7">
	<meta name="msapplication-TileImage" content="img/favicon/mstile-150x150.png">
	
	<title>Sunbird Logical View</title>
	<meta name="description" content="Sunbird Site Logical View"/>

	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="last-modified" content="2017-10-25 17:26:20 +0530">
	<meta http-equiv="Expires" content="600" />
	
	

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" >
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/owl/owl.carousel.min.css?25102017"  />
	<link rel="stylesheet" href="css/style.css?25102017"  />

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js?25102017"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js?25102017"></script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments)};
	  gtag('js', new Date());

	  gtag('config', 'UA-106552125-1');
	</script>
</head>

  <body>
  <div class="container inner container-height docs">
    <header class="logo-container">
      <div class="logo">
        <a href="/">
          <img src="/img/sunbird-logo.png" alt="Sunbird docs" title="Sunbird docs">
        </a>
      </div>
      <button type="button" class="dropdown-toggle collapsed" id="dropdown-trigger" data-toggle="collapse" data-target="#mobile-dropdown" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </header>
    <nav class="sidebar-container" id="mobile-dropdown">
      <div class="inner__sidebar">
        <div id="">
	<div class="sidebar-wrapper architecture-views">
		<div class="" >
			<a href="/architecture/">
				<h4 class="sidebar-group-title">Architecture</h4>
			</a>
			<ul class="sidebar-group architecture">
				<li>
					<a href="/architecture/overview/">Overview</a>
				</li>
				<li>
					<a href="/architecture/design/">Design</a>
				</li>
				<li>
					<div class="">
						<a href="/architecture/views/elementryview/">Views</a>
						<ul class="sidebar-group">
							<li>
								<a href="/architecture/views/logical/">Logical View</a>
							</li>
							<li>
								<a href="/architecture/views/physical/">Physical View</a>
							</li>
							<li>
								<a href="/architecture/views/conceptual/">Conceptual View</a>
							</li>
							<li>
								<a href="/architecture/views/deployment/">Deployment View</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="/architecture/usecase/">Use Cases</a>
				</li>
			</ul>
			<a href="/features-documentation/">
				<h4 class="sidebar-group-title">Product Features</h4>
			</a>
			<ul class="sidebar-group features-documentation" >
				<li>
					<a href="/features-documentation/onboarding/">Onboarding</a>
				</li>
				<li>
					<a href="/features-documentation/login/">Login</a>
				</li>
				<li>
					<a href="/features-documentation/administration/">Administration</a>
					<ul class="sidebar-group">
						<li>
							<a href="/features-documentation/register_org/">Register Organizations</a>
						</li>
						<li>
							<a href="/features-documentation/register_user/">Register Users</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/features-documentation/userrolepermission/">User Roles and Permissions</a>
				</li>
				<li>
					<div class="">
						<ul class="sidebar-group">
							<li>
								<a href="/features-documentation/userprofile/">User Profile</a>
							</li>
							<li>
								<a href="/features-documentation/workspace/">Workspace</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="/features-documentation/coursetraining/">Courses and Training</a>
				</li>
				<li>
					<a href="/features-documentation/resources/">Resources</a>
				</li>
				<li>
					<a href="/features-documentation/contentlifecycle/">Content Lifecycle</a>
				</li>
				<li>
					<a href="/features-documentation/contentcreation/">Content Creation</a>
				</li>
				<li>
					<a href="/features-documentation/contenteditor/">Content Editor</a>
				</li>
				<!--<li>
					<a href="/features-documentation/consumption/">Consume Study Material</a>
				</li>-->
				</li>
				<li>
					<div class="">
						<a href="/features-documentation/guidelines/" >Guidelines</a>
						<ul class="sidebar-group">
							<li>
								<a href="/features-documentation/intellectualproperty/">Intellectual Property</a>
							</li>
						</ul>
					</div>
				</li>
				<!--<li>
					<a href="/features-documentation/reportinganalytics/">Reporting and Analytics</a>
				</li>-->
				<li>
					<a href="/features-documentation/collaborationpartnership/">Collaboration and Partnership</a>
				</li>
				</ul>
				<a href="/developer-docs/">
					<h4 class="sidebar-group-title">Developer Documentation</h4>
				</a>
				<ul class="sidebar-group developer-docs">
					<li>
						<a href="/developer-docs/installation_overview/">Installation Overview</a>
					</li>
					<!--<li>
						<a href="/developer-docs/hosting_sunbird/">Hosting Sunbird</a>
					</li>-->
					<li>
						<a  href="/developer-docs/developer_install/">Install Sunbird on Laptop</a>
					</li>
					<li>
						<a href="/developer-docs/medium_scale_deploy/">Medium Scale Deployment</a>
					</li>
					<!--<li>
						<div class="">
							<a class="sidebar-group-title" href="/developer-docs/extending_sunbird/">Extending Sunbird</a>
						</div>
					</li>
					<li>
						<div class="">
							<a class="sidebar-group-title" href="/developer-docs/customize_sunbird/">Customizing Sunbird</a>
						</div>
					</li>-->
					<li>
						<div class="">
							<a  href="/apis/">API References</a>
							<ul class="sidebar-group">
								<li>
									<a href="/apis/bulkupload/" target="_blank">Bulk Upload Service APIs</a>
								</li>
								<li>
									<a href="/apis/content/" target="_blank">Content APIs</a>
								</li>
								<li>
									<a href="/apis/coursebatchmanapi/" target="_blank">Course Batch Management APIs</a>
								</li>
								<li>
									<a href="/apis/datasyncapi/" target="_blank">Data Sync APIs</a>
								</li>
								<li>
									<a href="/apis/metricsapi/" target="_blank">Metrics APIs</a>
								</li>
								<li>
									<a href="/apis/notificationapi/" target="_blank">Notification  APIs</a>
								</li>
								<li>
									<a href="/apis/orgapi/" target="_blank">Organisation Management APIs</a>
								</li>
								<li>
									<a href="/apis/userapi/" target="_blank">User APIs</a>
								</li>
							</ul>
						</div>
					</li>
				</div>
			</li>
		</ul>
		<a href="/faqs/">
			<h4 class="sidebar-group-title">Frequently asked questions</h4>
		</a>
		<ul class="sidebar-group faqs" >
			<li>
				<a href="/faqs/audience/">Audience</a>
			</li>
			<li>
				<a href="/faqs/content_format/">Content Format</a>
			</li>
			<li>
				<a href="/faqs/content_repo/">Content Repo</a>
			</li>
			<li>
				<a href="/faqs/contentreviews/">Content Review</a>
			</li>
			<li>
				<a href="/faqs/content_types/">Content Types</a>
			</li>
			<li>
				<a href="/faqs/content_upload/">Content Upload</a>
			</li>
			<li>
				<a href="/faqs/feature/">Features</a>
			</li>
			<li>
				<a href="/faqs/fixerrors/">Fix Errors</a>
			</li>
			<li>
				<a href="/faqs/helpsupport/">Help Support</a>
			</li>
			<li>
				<a href="/faqs/intellectual_propertylicensesstandards/">Intellectual Property Licenses Standards</a>
			</li>
			<li>
				<a href="/faqs/registrationenrolment/">Registration and Enrollment</a>
			</li>
			<li>
				<a href="/faqs/signin/">Sign In</a>
			</li>
			<li>
				<a href="/faqs/taxonomymetadataframework/">Taxonomy Meta Data Framework</a>
			</li>
			<li>
				<a href="/faqs/user_rightspermissions/">Users Rights and Permission</a>
			</li>
		</ul>
		<a href="/faqs/glossary/">
			<h4 class="sidebar-group-title">Glossary</h4>
		</a>
	</div>
</div>
<script>
$("a[href$='/architecture/views/logical/']").addClass("sidebar-link-selected");
</script>

      </div>
    </nav>
    <div class="content">
      <div class="inner__content header">
        <h1>Logical View </h1>
      </div>

      <div id="main-content" class="inner__content">
          <h2 id="logical-view">Logical View</h2>

<p>The logical view of Sunbird comprises of the following entities:</p>

<ul>
  <li>Sunbird Functional Entities</li>
  <li>Access to Sunbird</li>
  <li>Underlying Sunbird Platform</li>
  <li>Sunbird Infrastructure</li>
</ul>

<p><strong>Sunbird Functional Entities</strong></p>

<p>Sunbird has a varied and diverse user base. Users play different set of roles, their dependence on content-creation and content-consumption decides their respective roles. 
In this context, a user can be:</p>

<ul>
  <li>Admin</li>
  <li>Instructor</li>
  <li>Student</li>
</ul>

<p>Users are soul of Sunbird. They create, manage and consume content in a well-organized order. The content creation is done using the Sunbird platform provides UI which is rich and user friendly. It provides state of art tools and features to work with. The content delivery is done using an intuitive and interactive set of UI tools. The communication between the layers renders the invoked services i.e., from providing UI to processing the user requests. The Underlying technology gives rich user experience and ensures ease of access with anything users are working with.</p>

<p><strong>Sunbird Access</strong></p>

<p>Sunbird can be accessed both using web and on mobile platform.</p>

<p><strong>Sunbird Platform</strong></p>

<p>The Sunbird platform essentially embeds Service Oriented Architecture, which is a loosely-coupled architecture designed to meet the business needs of the organization.</p>

<p>These form the core of the Sunbird.</p>

<ul>
  <li><strong>Functional Entities</strong></li>
  <li><strong>Service Entities</strong></li>
</ul>

<p>The platform offers and facilitates these functional entities:</p>

<ol>
  <li>Organisation</li>
  <li>Course</li>
  <li>Resources</li>
  <li>Community</li>
</ol>

<p>For functional entities description, refer to conceptual view. The service entities with functional entities for the core or platform of Sunbird.</p>

<p><strong>API Gateways:</strong> Sunbird uses modern Micro service Architecture form which provides an intuitive way to hide the services behind a new service layer and provide APIs which are tailored to each client. This aggregator service layer is also known as API Gateway. API gateway permits orchestration, which enables micro services to arrange how the requests are being processed by the architecture.</p>

<p><strong>Restful API’s:</strong> Sunbird deploys RESTful API’s. The Stateless nature of RESTful Sunbird API’s can freely be re-deployed if something fails. Principally, Sunbird establishes a one-to-one mapping between create, read, update, and delete (CRUD) operations and HTTP methods. Sunbird ideally capitalizes on to keep the interface generalized and allows users to be explicit about the operations they invoke. Also, Sunbird uses Wrapper API’s to expose an API in a much flexible and friendlier way. These wrapper API’s ease in handling requests and provide a simple set of methods that can be called in wrapper code.</p>

<p><strong>Single Sign on Service(SSO):</strong> With single sign-on service, Sunbird users only have to enter one set of credentials to access their web apps in the cloud and behind the firewall – via desktops, smartphones and tablets. This greatly increases productivity while keeping data secure.</p>

<p><strong>Elastic search:</strong> Sunbird platform provides distributed “Elastic search”. As the heart of the Elastic Stack, data is centrally stored to discover the expected and uncover the unexpected.</p>

<p><strong>Rich Analytics, Insights &amp; Telemetry:</strong> Sunbird has rich Analytic mechanism with telemetric approach. It has powerful tools to analyze how users engage with the content. Real-time reports uncover insights into user online behavior that helps to deliver better content which users want to interact with.</p>

<p><strong>Sunbird Infrastructure</strong></p>

<p>Sunbird works around a dynamic resource center, and data-aware environment. Its infrastructure is designed such that it reduces multiple silos, uneven processing and delayed results that come with diverse users and complex application portfolios. Sunbird infrastructure holds all the required contextual information.</p>

<p>Sunbird Infrastructure primarily provides:</p>

<ul>
  <li>Taxonomy</li>
  <li>Content repository</li>
  <li>Learning management system</li>
  <li>User management system</li>
  <li>Content Editor</li>
  <li>Services for data analytics, data exhaust and telemetry</li>
</ul>


      </div>
    </div>
    <div class="page-footer">
		<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="row">
				
			<div class="col-md-4 col-sm-12">
			</div>
			
			<div class="col-md-2 col-sm-6 ">
				<ul>
					<li><a href="/about/">About Sunbird</a></li>
					<li><a href="/contact/">Contact Us</a></li>
					<li><a href="/privacy-policy/">Privacy Policy</a></li>
				</ul>
			</div>
			
			<div class="col-md-2 col-sm-6 sideline">
				<ul>
					<li><a href="/docs/">Documentation</a></li>
					<li><a href="/features/">Features</a></li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-12">
			</div>
			
		</div>
	</div>
</footer>

	</div>
  </div>
  <script type="text/javascript">

      $(document).ready(function(){
          $('#dropdown-trigger').click(function(e){
              var $elm = $('#mobile-dropdown');
              if($elm.is(":visible")){
                  $elm.stop().slideUp();
              }else{
                  $elm.stop().slideDown();
                  $('html,body').scrollTop(0);
              }
              e.stopPropagation();
          });
      });

  </script>
  </body>
</html>
